.adDiv {
    margin-top: .5rem;
}

.adDiv span {
    text-align: center;
    padding    : 16px;
    width     : 100%;
    display   : block;
}

.adDiv div {
    border-radius: .3rem;
    margin-bottom: .2rem;
    overflow     : hidden;
}